<ion-header>
  <ion-toolbar>
    <ion-title>
      Firestore Alışveriş Listesi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input #inputId placeholder="Ürün" [(ngModel)]="urunBilgi.urun" autofocus ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input type="number" placeholder="Adet/Kg" [(ngModel)]="urunBilgi.adet"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Kişi" [(ngModel)]="urunBilgi.kisi"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="yeniKayit()" [disabled]="!urunBilgi.urun || !urunBilgi.adet || !urunBilgi.kisi">
          <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
          &nbsp;Yeni Kayıt
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngFor="let item of kayitlar">
    <span *ngIf="!item.guncelleniyor; else duzenleAc">
      <ion-card-header>
        <ion-card-title>{{ item.payload.doc.data().urun }} ( {{ item.payload.doc.data().adet }} adet/kg ) </ion-card-title>
        <ion-card-subtitle>Ekleyen: {{ item.payload.doc.data().kisi }}</ion-card-subtitle>
      </ion-card-header>
       <ion-card-content>
  <ion-label>Eklenme Tarihi: {{item.payload.doc.data().tarih * 1000 | date:'dd/MM/yyyy HH:mm:ss'}}</ion-label>
</ion-card-content>
<ion-card-content>
 <ion-button shape="round" color="success" size="small" (click)="kayitDuzenle(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
 
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="presentAlertConfirm(item.payload.doc.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
 
        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #duzenleAc>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Düzenle
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Urun</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.gUrun"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Adet/Kg</strong></ion-label>
          <ion-input type="number" [(ngModel)]="item.gAdet"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Kişi</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.gKisi"></ion-input>
        </ion-item>
        <ion-item>
        <ion-label><strong>Eklenme Tarihi:</strong> {{item.payload.doc.data().tarih * 1000 | date:'dd/MM/yyyy HH:mm:ss'}}</ion-label>
        </ion-item>
      </ion-card-content>
      <ion-card-subtitle>
          <ion-grid fixed>
              <ion-row>

          <ion-col class="ion-padding">

              <ion-button fill="clear" color="medium" size="small" (click)="item.guncelleniyor = false">
                Vazgeç
              </ion-button>

            </ion-col>

            <ion-col class="ion-padding">

              <ion-button [disabled]="item.payload.doc.data().urun == item.gUrun && item.payload.doc.data().adet == item.gAdet && item.payload.doc.data().kisi == item.gKisi || item.gUrun == '' || item.gAdet == null || item.gKisi == '' " style="float: right;" fill="outline" color="success" size="small" (click)="kayitGuncelle(item)">
                Güncelle
              </ion-button>
 
            </ion-col>
          </ion-row>
          
          
           </ion-grid>
      </ion-card-subtitle>
    </ng-template>
  </ion-card>

</ion-content>
